<% include ../partials/header %>

<style media="screen">
  .btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

#img-upload{
    width: 100%;
}
</style>
<script type="text/javascript">
  $(document).ready( function() {
      	$(document).on('change', '.btn-file :file', function() {
  		var input = $(this),
  			label = input.val().replace(/\\/g, '/').replace(/.*\//, '');
  		input.trigger('fileselect', [label]);
  		});

  		$('.btn-file :file').on('fileselect', function(event, label) {

  		    var input = $(this).parents('.input-group').find(':text'),
  		        log = label;

  		    if( input.length ) {
  		        input.val(log);

  		    } else {
  		        if( log ) alert(log);
  		    }

  		});
  		function readURL(input) {
  		    if (input.files && input.files[0]) {
  		        var reader = new FileReader();

  		        reader.onload = function (e) {
  		            $('#img-upload').attr('src', e.target.result);
                  //alert(e.target.result);
                  var blogTitle="asdasd";
                  var comSentence="asdasdsad";
                  var comImage=e.target.result;
                  var blog="qweqwe"

                  var data ={
                    blogTitle:blogTitle,
                    comSentence:comSentence,
                    comImage:comImage,
                    blog:blog
                  }

                  $.post("addNewBlogDeneme", {data:data})
                    .then(function(addedBlog){
                      console.log(addedBlog);
                    });

  		        }

  		        reader.readAsDataURL(input.files[0]);

  		    }
  		}

  		$("#imgInp").change(function(){
  		    readURL(this);
  		});
  	});
</script>



<!-- Page Header -->
 <header class="masthead" style="background-image: url('https://images.unsplash.com/photo-1542838686-ddebb563fef4?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80')">
   <div class="overlay"></div>
   <div class="container">
     <div class="row">
       <div class="col-lg-8 col-md-10 mx-auto">
         <div class="page-heading">
           <h1>Admin Dashbord</h1>
         </div>
       </div>
     </div>
   </div>
 </header>


 <!-- Main Content -->
 <div class="container">
   <% adminActions.forEach( (action)=>{ %>
   <div class="row">
     <div class="col-lg-4  mx-auto">
       <button id="<%=action.actionId%>" onclick="catchID(this.id)" type="button" class="btn btn-outline-info btn-block float-left"><%=action.displayName%></button>

     </div>
     <div class="col-lg-8  mx-auto">

     </div>
     </div>
   <% }); %>
   <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<div class="container">
<div class="col-md-6">
    <div class="form-group">
        <label>Upload Image</label>
        <div class="input-group">
            <span class="input-group-btn">
                <span class="btn btn-default btn-file">
                    Browse… <input type="file" id="imgInp">
                </span>
            </span>
            <input type="text" class="form-control" readonly>
        </div>
        <img id='img-upload'/>
    </div>
</div>
</div>
 </div>
 <script>
   function catchID(clicked_id){
     alert(clicked_id+ " numarali butana tiklandi.");
     if(clicked_id==1){
       window.location.href="changeHomeImage"; return false;
     }
     if(clicked_id==4){
       window.location.href="addNewBlog"; return false;
     }

   }
</script>

   </script>

 </script>

 <% include ../partials/footer %>
